<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src=" <%= bookDataArray.weather_icons %> " alt="">
    <h1><%= bookDataArray.cityName %> </h1>
    <h2><%= bookDataArray.temperature %> </h2>
    <h3> <%= bookDataArray.weather_descriptions %> </h3>

</body>
</html>