<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <link rel="stylesheet" href="styles/reset.css">  
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" href="Images/Buddy-Nav-icon.png">
    <title>Buddy Nav</title>
</head>
<body> 
    <div class="pure-menu pure-menu-horizontal">
        <img id="logo" class="pure-menu-heading" src="Images/Buddy Nav-01 vs2.png" alt="">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="/allSavedData" class="pure-menu-link">Your Plans</a></li>
            <li class="pure-menu-item"><a href="about-us.html" class="pure-menu-link">About Us</a></li>
        </ul>
    </div>
    
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Buddy Nav</h1>
        <p class="splash-subhead">
            Your friend wherever you go!
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <div class="pure-g" id="searchForm">
            <form action="/search" method="GET">
                <h2 class="content-head is-center">Search for your destination:</h2>
                <input type="text" name='search' placeholder="City Name"> <br><br>
                <button class="cta" class="pure-button pure-button-primary">
                    <span> Search City</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                      <path d="M1,5 L11,5"></path>
                      <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                  </button>
            </form>
            
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img alt="File Icons" class="desImg" src="Images/explore.jpg">
        </div>
        <div class="desDiv">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
            <h2 class="content-head content-head-ribbon">What is BuddyNav?</h2>
            <p>
                BuddyNav is a web application that helps you and guide you with your journeys plans. So, what is the BuddyNav Let us read this story from one of our stakeholders.

                Mr. Aront said "Always when I want to have a plan to travel outside my country, I searched in more than website to get details about the city or country that i want to visit"
                
                And he added " I wish if there is a way to have those information in one place, and regarding the COVID-19, I really want to know about the its details in this country"
                
                So, we asked him about what is the information that you are willing to have, the answer " You know the needed information; like the weather statues, hotels, transportation and the COVID-19 details."
            </p>
        </div>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center"></h2>

        <div class="pure-g">
        </div>

    </div>

    <div class="footer l-box is-center">
        BuddyNav&copy;2021 Powered by Strangers group
    </div>

</div>


</body>
</html>