<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST LOCATION</title>
</head>
<body>
    <section>
        <img src="<%= allData[1] %>" alt="" width="400" height="400">
        <img src="<%= allData[2].photoLink %>" alt="" width="400" height="400">
    </section>
</body>
</html>